<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Popup</title>
    <link rel="stylesheet" href="/data/style/content.css">
    <link rel="stylesheet" href="/data/style/popup.css">
    <script src="/data/api/chrome.js"></script>
    <script src="/data/api/api.js"></script>
    <script src="/data/script/jquery.js"></script>
    <script src="/data/script/emoji.min.js"></script>
    <script src="/data/script/popup.js"></script>
</head>
<body>
<div class="search">
    <input type="text" class="search-field" placeholder="Search">
</div>
<ul class="emoji-list">

</ul>
<div class="emoji-container">
    <input type="text" class="emoji-container-text" placeholder="Copy and Paste from here">
</div>
</body>
</html>

