<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Popup</title>
    <link rel="stylesheet" href="/data/style/content.css">
    <link rel="stylesheet" href="/data/style/popup.css">
    <script src="/data/api/chrome.js"></script>
    <script src="/data/api/api.js"></script>
    <script src="/data/script/jquery.js"></script>
    <script src="/data/script/emoji.min.js"></script>
    <script src="/data/script/popup.js"></script>
</head>
<body>
<!--
<div class="search">
    <input type="text" class="search-field" placeholder="Search">
</div>
-->
<div class="emoji-list-container">
    <div>
        <label for="cbx-smiley">Smileys 😀😼👍</label>
        <input type="checkbox" id="cbx-smiley" checked="checked">
        <ul class="emoji-list">
            <li>😀</li>
            <li>😬</li>
            <li>😁</li>
            <li>😂</li>
            <li>😃</li>
            <li>😄</li>
            <li>😅</li>
            <li>😆</li>
            <li>😇</li>
            <li>😉</li>
            <li>😊</li>
            <li>🙂</li>
            <li>🙃</li>
            <li>☺️</li>
            <li>😋</li>
            <li>😌</li>
            <li>😍</li>
            <li>😘</li>
            <li>😗</li>
            <li>😙</li>
            <li>😚</li>
            <li>😜</li>
            <li>😝</li>
            <li>😛</li>
            <li>🤑</li>
            <li>🤓</li>
            <li>😎</li>
            <li>🤗</li>
            <li>😏</li>
            <li>😶</li>
            <li>😐</li>
            <li>😑</li>
            <li>😒</li>
            <li>🙄</li>
            <li>🤔</li>
            <li>😳</li>
            <li>😞</li>
            <li>😟</li>
            <li>😠</li>
            <li>😡</li>
            <li>😔</li>
            <li>😕</li>
            <li>🙁</li>
            <li>☹</li>
            ️
            <li>😣</li>
            <li>😖</li>
            <li>😫</li>
            <li>😩</li>
            <li>😤</li>
            <li>😮</li>
            <li>😱</li>
            <li>😨</li>
            <li>😰</li>
            <li>😯</li>
            <li>😦</li>
            <li>😧</li>
            <li>😢</li>
            <li>😥</li>
            <li>😪</li>
            <li>😓</li>
            <li>😭</li>
            <li>😵</li>
            <li>😲</li>
            <li>🤐</li>
            <li>😷</li>
            <li>🤒</li>
            <li>🤕</li>
            <li>😴</li>
            <li>💤</li>
            <li>💩</li>
            <li>😈</li>
            <li>👿</li>
            <li>👹</li>
            <li>👺</li>
            <li>💀</li>
            <li>👻</li>
            <li>👽</li>
            <li>🤖</li>
            <li>😺</li>
            <li>😸</li>
            <li>😹</li>
            <li>😻</li>
            <li>😼</li>
            <li>😽</li>
            <li>🙀</li>
            <li>😿</li>
            <li>😾</li>
            <li>🙌</li>
            <li>👏</li>
            <li>👋</li>
            <li>👍</li>
            <li>👊</li>
            <li>✊</li>
            <li>✌️</li>
            <li>👌</li>
            <li>✋</li>
            <li>💪</li>
            <li>🙏</li>
            <li>☝️</li>
            <li>👆</li>
            <li>👇</li>
            <li>👈</li>
            <li>👉</li>
            <li>🖕</li>
            <li>🤘</li>
            <li>🖖</li>
            <li>✍</li>
            ️
            <li>💅</li>
            <li>👄</li>
            <li>👅</li>
            <li>👂</li>
            <li>👃</li>
            <li>👁</li>
            <li>👀</li>
            <li>👤</li>
            <li>🗣</li>
            <li>👶</li>
            <li>👦</li>
            <li>👧</li>
            <li>👨</li>
            <li>👩</li>
            <li>👱</li>
            <li>👴</li>
            <li>👵</li>
            <li>👲</li>
            <li>👳</li>
            <li>👮</li>
            <li>👷</li>
            <li>💂</li>
            <li>🕵</li>
            <li>🎅</li>
            <li>👼</li>
            <li>👸</li>
            <li>👰</li>
            <li>🚶</li>
            <li>🏃</li>
            <li>💃</li>
            <li>👯</li>
            <li>👫</li>
            <li>👬</li>
            <li>👭</li>
            <li>🙇</li>
            <li>💁</li>
            <li>🙅</li>
            <li>🙆</li>
            <li>🙋</li>
            <li>🙎</li>
            <li>🙍</li>
            <li>💇</li>
            <li>💆</li>
            <li>💑</li>
            <li>👩‍❤️‍👩</li>
            <li>👨‍❤️‍👨</li>
            <li>💏</li>
            <li>👩‍❤️‍💋‍👩</li>
            <li>👨‍❤️‍💋‍👨</li>
            <li>👪</li>
            <li>👨‍👩‍👧</li>
            <li>👨‍👩‍👧‍👦</li>
            <li>👨‍👩‍👦‍👦</li>
            <li>👨‍👩‍👧‍👧</li>
            <li>👩‍👩‍👦</li>
            <li>👩‍👩‍👧</li>
            <li>👩‍👩‍👧‍👦</li>
            <li>👩‍👩‍👦‍👦</li>
            <li>👩‍👩‍👧‍👧</li>
            <li>👨‍👨‍👦</li>
            <li>👨‍👨‍👧</li>
            <li>👨‍👨‍👧‍👦</li>
            <li>👨‍👨‍👦‍👦</li>
            <li>👨‍👨‍👧‍👧</li>
            <li>👚</li>
            <li>👕</li>
            <li>👖</li>
            <li>👔</li>
            <li>👗</li>
            <li>👙</li>
            <li>👘</li>
            <li>💄</li>
            <li>💋</li>
            <li>👣</li>
            <li>👠</li>
            <li>👡</li>
            <li>👢</li>
            <li>👞</li>
            <li>👟</li>
            <li>👒</li>
            <li>🎩</li>
            <li>⛑</li>
            <li>🎓</li>
            <li>👑</li>
            <li>🎒</li>
            <li>👝</li>
            <li>👛</li>
            <li>👜</li>
            <li>💼</li>
            <li>👓</li>
            <li>🕶</li>
            <li>💍</li>
            <li>🌂</li>
        </ul>
    </div>
    <div>
        <label for="cbx-color-1">Faces 👦🏻👍🏻🙆🏻</label>
        <input type="checkbox" id="cbx-color-1">
        <ul class="emoji-list">

            <li>👦🏻</li>
            <li>👧🏻</li>
            <li>👨🏻</li>
            <li>👩🏻</li>
            <li>👴🏻</li>
            <li>👵🏻</li>
            <li>👶🏻</li>
            <li>👱🏻</li>
            <li>👮🏻</li>
            <li>👲🏻</li>
            <li>👳🏻</li>
            <li>👷🏻</li>
            <li>👸🏻</li>
            <li>💂🏻</li>
            <li>🎅🏻</li>
            <li>👼🏻</li>
            <li>💆🏻</li>
            <li>💇🏻</li>
            <li>👰🏻</li>
            <li>🙍🏻</li>
            <li>🙎🏻</li>
            <li>🙅🏻</li>
            <li>🙆🏻</li>
            <li>💁🏻</li>
            <li>🙋🏻</li>
            <li>🙇🏻</li>
            <li>🙌🏻</li>
            <li>🙏🏻</li>
            <li>🚶🏻</li>
            <li>🏃🏻</li>
            <li>💃🏻</li>
            <li>💪🏻</li>
            <li>👈🏻</li>
            <li>👉🏻</li>
            <li>☝️🏻</li>
            <li>👆🏻</li>
            <li>🖕🏻</li>
            <li>👇🏻</li>
            <li>✌️🏻</li>
            <li>🖖🏻</li>
            <li>🤘🏻</li>
            <li>🖐🏻</li>
            <li>✊🏻</li>
            <li>✋🏻</li>
            <li>👊🏻</li>
            <li>👌🏻</li>
            <li>👍🏻</li>
            <li>👎🏻</li>
            <li>👋🏻</li>
            <li>👏🏻</li>
            <li>👐🏻</li>
            <li>✍🏻</li>
            <li>💅🏻</li>
            <li>👂🏻</li>
            <li>👃🏻</li>
            <li>🚣🏻</li>
            <li>🛀🏻</li>
            <li>🏄🏻</li>
            <li>🏇🏻</li>
            <li>🏊🏻</li>
            <li>⛹🏻</li>
            <li>🏋🏻</li>
            <li>🚴🏻</li>
            <li>🚵🏻</li>
        </ul>
    </div>
    <div>
        <label for="cbx-color-2">Faces 👦🏼👍🏼🙆🏼</label>
        <input type="checkbox" id="cbx-color-2">
        <ul class="emoji-list">
            <li>👦🏼</li>
            <li>👧🏼</li>
            <li>👨🏼</li>
            <li>👩🏼</li>
            <li>👴🏼</li>
            <li>👵🏼</li>
            <li>👶🏼</li>
            <li>👱🏼</li>
            <li>👮🏼</li>
            <li>👲🏼</li>
            <li>👳🏼</li>
            <li>👷🏼</li>
            <li>👸🏼</li>
            <li>💂🏼</li>
            <li>🎅🏼</li>
            <li>👼🏼</li>
            <li>💆🏼</li>
            <li>💇🏼</li>
            <li>👰🏼</li>
            <li>🙍🏼</li>
            <li>🙎🏼</li>
            <li>🙅🏼</li>
            <li>🙆🏼</li>
            <li>💁🏼</li>
            <li>🙋🏼</li>
            <li>🙇🏼</li>
            <li>🙌🏼</li>
            <li>🙏🏼</li>
            <li>🚶🏼</li>
            <li>🏃🏼</li>
            <li>💃🏼</li>
            <li>💪🏼</li>
            <li>👈🏼</li>
            <li>👉🏼</li>
            <li>☝️🏼</li>
            <li>👆🏼</li>
            <li>🖕🏼</li>
            <li>👇🏼</li>
            <li>✌️🏼</li>
            <li>🖖🏼</li>
            <li>🤘🏼</li>
            <li>🖐🏼</li>
            <li>✊🏼</li>
            <li>✋🏼</li>
            <li>👊🏼</li>
            <li>👌🏼</li>
            <li>👍🏼</li>
            <li>👎🏼</li>
            <li>👋🏼</li>
            <li>👏🏼</li>
            <li>👐🏼</li>
            <li>✍🏼</li>
            <li>💅🏼</li>
            <li>👂🏼</li>
            <li>👃🏼</li>
            <li>🚣🏼</li>
            <li>🛀🏼</li>
            <li>🏄🏼</li>
            <li>🏇🏼</li>
            <li>🏊🏼</li>
            <li>⛹🏼</li>
            <li>🏋🏼</li>
            <li>🚴🏼</li>
            <li>🚵🏼</li>
        </ul>
    </div>
    <div>
        <label for="cbx-color-3">Faces 👦🏽👍🏽🙆🏽</label>
        <input type="checkbox" id="cbx-color-3">
        <ul class="emoji-list">
            <li>👦🏽</li>
            <li>👧🏽</li>
            <li>👨🏽</li>
            <li>👩🏽</li>
            <li>👴🏽</li>
            <li>👵🏽</li>
            <li>👶🏽</li>
            <li>👱🏽</li>
            <li>👮🏽</li>
            <li>👲🏽</li>
            <li>👳🏽</li>
            <li>👷🏽</li>
            <li>👸🏽</li>
            <li>💂🏽</li>
            <li>🎅🏽</li>
            <li>👼🏽</li>
            <li>💆🏽</li>
            <li>💇🏽</li>
            <li>👰🏽</li>
            <li>🙍🏽</li>
            <li>🙎🏽</li>
            <li>🙅🏽</li>
            <li>🙆🏽</li>
            <li>💁🏽</li>
            <li>🙋🏽</li>
            <li>🙇🏽</li>
            <li>🙌🏽</li>
            <li>🙏🏽</li>
            <li>🚶🏽</li>
            <li>🏃🏽</li>
            <li>💃🏽</li>
            <li>💪🏽</li>
            <li>👈🏽</li>
            <li>👉🏽</li>
            <li>☝️🏽</li>
            <li>👆🏽</li>
            <li>🖕🏽</li>
            <li>👇🏽</li>
            <li>✌️🏽</li>
            <li>🖖🏽</li>
            <li>🤘🏽</li>
            <li>🖐🏽</li>
            <li>✊🏽</li>
            <li>✋🏽</li>
            <li>👊🏽</li>
            <li>👌🏽</li>
            <li>👍🏽</li>
            <li>👎🏽</li>
            <li>👋🏽</li>
            <li>👏🏽</li>
            <li>👐🏽</li>
            <li>✍🏽</li>
            <li>💅🏽</li>
            <li>👂🏽</li>
            <li>👃🏽</li>
            <li>🚣🏽</li>
            <li>🛀🏽</li>
            <li>🏄🏽</li>
            <li>🏇🏽</li>
            <li>🏊🏽</li>
            <li>⛹🏽</li>
            <li>🏋🏽</li>
            <li>🚴🏽</li>
            <li>🚵🏽</li>
        </ul>
    </div>
    <div>
        <label for="cbx-color-4">Faces 👦🏾👍🏾🙆🏾</label>
        <input type="checkbox" id="cbx-color-4">
        <ul class="emoji-list">
            <li>👦🏾</li>
            <li>👧🏾</li>
            <li>👨🏾</li>
            <li>👩🏾</li>
            <li>👴🏾</li>
            <li>👵🏾</li>
            <li>👶🏾</li>
            <li>👱🏾</li>
            <li>👮🏾</li>
            <li>👲🏾</li>
            <li>👳🏾</li>
            <li>👷🏾</li>
            <li>👸🏾</li>
            <li>💂🏾</li>
            <li>🎅🏾</li>
            <li>👼🏾</li>
            <li>💆🏾</li>
            <li>💇🏾</li>
            <li>👰🏾</li>
            <li>🙍🏾</li>
            <li>🙎🏾</li>
            <li>🙅🏾</li>
            <li>🙆🏾</li>
            <li>💁🏾</li>
            <li>🙋🏾</li>
            <li>🙇🏾</li>
            <li>🙌🏾</li>
            <li>🙏🏾</li>
            <li>🚶🏾</li>
            <li>🏃🏾</li>
            <li>💃🏾</li>
            <li>💪🏾</li>
            <li>👈🏾</li>
            <li>👉🏾</li>
            <li>☝️🏾</li>
            <li>👆🏾</li>
            <li>🖕🏾</li>
            <li>👇🏾</li>
            <li>✌️🏾</li>
            <li>🖖🏾</li>
            <li>🤘🏾</li>
            <li>🖐🏾</li>
            <li>✊🏾</li>
            <li>✋🏾</li>
            <li>👊🏾</li>
            <li>👌🏾</li>
            <li>👍🏾</li>
            <li>👎🏾</li>
            <li>👋🏾</li>
            <li>👏🏾</li>
            <li>👐🏾</li>
            <li>✍🏾</li>
            <li>💅🏾</li>
            <li>👂🏾</li>
            <li>👃🏾</li>
            <li>🚣🏾</li>
            <li>🛀🏾</li>
            <li>🏄🏾</li>
            <li>🏇🏾</li>
            <li>🏊🏾</li>
            <li>⛹🏾</li>
            <li>🏋🏾</li>
            <li>🚴🏾</li>
            <li>🚵🏾</li>
        </ul>

    </div>
    <div>
        <label for="cbx-color-5">Faces 👦🏿👍🏿🙆🏿</label>
        <input type="checkbox" id="cbx-color-5">

        <ul class="emoji-list">
            <li>👦🏿</li>
            <li>👧🏿</li>
            <li>👨🏿</li>
            <li>👩🏿</li>
            <li>👴🏿</li>
            <li>👵🏿</li>
            <li>👶🏿</li>
            <li>👱🏿</li>
            <li>👮🏿</li>
            <li>👲🏿</li>
            <li>👳🏿</li>
            <li>👷🏿</li>
            <li>👸🏿</li>
            <li>💂🏿</li>
            <li>🎅🏿</li>
            <li>👼🏿</li>
            <li>💆🏿</li>
            <li>💇🏿</li>
            <li>👰🏿</li>
            <li>🙍🏿</li>
            <li>🙎🏿</li>
            <li>🙅🏿</li>
            <li>🙆🏿</li>
            <li>💁🏿</li>
            <li>🙋🏿</li>
            <li>🙇🏿</li>
            <li>🙌🏿</li>
            <li>🙏🏿</li>
            <li>🚶🏿</li>
            <li>🏃🏿</li>
            <li>💃🏿</li>
            <li>💪🏿</li>
            <li>👈🏿</li>
            <li>👉🏿</li>
            <li>☝️🏿</li>
            <li>👆🏿</li>
            <li>🖕🏿</li>
            <li>👇🏿</li>
            <li>✌️🏿</li>
            <li>🖖🏿</li>
            <li>🤘🏿</li>
            <li>🖐🏿</li>
            <li>✊🏿</li>
            <li>✋🏿</li>
            <li>👊🏿</li>
            <li>👌🏿</li>
            <li>👍🏿</li>
            <li>👎🏿</li>
            <li>👋🏿</li>
            <li>👏🏿</li>
            <li>👐🏿</li>
            <li>✍🏿</li>
            <li>💅🏿</li>
            <li>👂🏿</li>
            <li>👃🏿</li>
            <li>🚣🏿</li>
            <li>🛀🏿</li>
            <li>🏄🏿</li>
            <li>🏇🏿</li>
            <li>🏊🏿</li>
            <li>⛹🏿</li>
            <li>🏋🏿</li>
            <li>🚴🏿</li>
            <li>🚵🏿</li>
        </ul>
    </div>
    <div>
        <label for="cbx-animals">Animals 🐱🐸🐲</label>
        <input type="checkbox" id="cbx-animals">
        <ul class="emoji-list">
            <li>🐶</li>
            <li>🐱</li>
            <li>🐭</li>
            <li>🐹</li>
            <li>🐰</li>
            <li>🐻</li>
            <li>🐼</li>
            <li>🐨</li>
            <li>🐯</li>
            <li>🦁</li>
            <li>🐮</li>
            <li>🐷</li>
            <li>🐽</li>
            <li>🐸</li>
            <li>🐙</li>
            <li>🐵</li>
            <li>🙈</li>
            <li>🙉</li>
            <li>🙊</li>
            <li>🐒</li>
            <li>🐔</li>
            <li>🐧</li>
            <li>🐦</li>
            <li>🐤</li>
            <li>🐣</li>
            <li>🐥</li>
            <li>🐺</li>
            <li>🐗</li>
            <li>🐴</li>
            <li>🦄</li>
            <li>🐝</li>
            <li>🐛</li>
            <li>🐌</li>
            <li>🐞</li>
            <li>🐜</li>
            <li>🕷</li>
            <li>🦂</li>
            <li>🦀</li>
            <li>🐍</li>
            <li>🐢</li>
            <li>🐠</li>
            <li>🐟</li>
            <li>🐡</li>
            <li>🐬</li>
            <li>🐳</li>
            <li>🐋</li>
            <li>🐊</li>
            <li>🐆</li>
            <li>🐅</li>
            <li>🐃</li>
            <li>🐂</li>
            <li>🐄</li>
            <li>🐪</li>
            <li>🐫</li>
            <li>🐘</li>
            <li>🐐</li>
            <li>🐏</li>
            <li>🐑</li>
            <li>🐎</li>
            <li>🐖</li>
            <li>🐀</li>
            <li>🐁</li>
            <li>🐓</li>
            <li>🦃</li>
            <li>🕊</li>
            <li>🐕</li>
            <li>🐩</li>
            <li>🐈</li>
            <li>🐇</li>
            <li>🐿</li>
            <li>🐾</li>
            <li>🐉</li>
            <li> 🐲</li>
        </ul>
    </div>
    <div>
        <label for="cbx-elem">Elements 🌲🔥🌪</label>
        <input type="checkbox" id="cbx-elem">
        <ul class="emoji-list">
            <li>🌵</li>
            <li>🎄</li>
            <li>🌲</li>
            <li>🌳</li>
            <li>🌴</li>
            <li>🌱</li>
            <li>🌿</li>
            <li>☘</li>
            <li>🍀</li>
            <li>🎍</li>
            <li>🎋</li>
            <li>🍃</li>
            <li>🍂</li>
            <li>🍁</li>
            <li>🌾</li>
            <li>🌺</li>
            <li>🌻</li>
            <li>🌹</li>
            <li>🌷</li>
            <li>🌼</li>
            <li>🌸</li>
            <li>💐</li>
            <li>🍄</li>
            <li>🌰</li>
            <li>🎃</li>
            <li>🐚</li>
            <li>🕸</li>
            <li>🌎</li>
            <li>🌍</li>
            <li>🌏</li>
            <li>🌕</li>
            <li>🌖</li>
            <li>🌗</li>
            <li>🌘</li>
            <li>🌑</li>
            <li>🌒</li>
            <li>🌓</li>
            <li>🌔</li>
            <li>🌚</li>
            <li>🌝</li>
            <li>🌛</li>
            <li>🌜</li>
            <li>🌞</li>
            <li>🌙</li>
            <li>⭐️</li>
            <li>🌟</li>
            <li>💫</li>
            <li>✨</li>
            <li>☄</li>
            <li>☀️</li>
            <li>🌤</li>
            <li>⛅️</li>
            <li>🌥</li>
            <li>🌦</li>
            <li>☁️</li>
            <li>🌧</li>
            <li>⛈</li>
            <li>🌩</li>
            <li>⚡️</li>
            <li>🔥</li>
            <li>💥</li>
            <li>❄️</li>
            <li>🌨</li>
            <li>🔥</li>
            <li>💥</li>
            <li>❄️</li>
            <li>🌨</li>
            <li>☃</li>
            ️
            <li>⛄️</li>
            <li>🌬</li>
            <li>💨</li>
            <li>🌪</li>
            <li>🌫</li>
            <li> ☂</li>
            ️
            <li>☔️</li>
            <li>💧</li>
            <li>💦</li>
            <li>🌊</li>
        </ul>
    </div>
    <div>
        <label for="cbx-food">Food 🍏🍢🍕</label>
        <input type="checkbox" id="cbx-food">
        <ul class="emoji-list">
            <li>🍏</li>
            <li>🍎</li>
            <li>🍐</li>
            <li>🍊</li>
            <li>🍋</li>
            <li>🍌</li>
            <li>🍉</li>
            <li>🍇</li>
            <li>🍓</li>
            <li>🍈</li>
            <li>🍒</li>
            <li>🍑</li>
            <li>🍍</li>
            <li>🍅</li>
            <li>🍆</li>
            <li>🌶</li>
            <li>🌽</li>
            <li>🍠</li>
            <li>🍯</li>
            <li>🍞</li>
            <li>🧀</li>
            <li>🍗</li>
            <li>🍖</li>
            <li>🍤</li>
            <li>🍳</li>
            <li>🍔</li>
            <li>🍟</li>
            <li>🌭</li>
            <li>🍕</li>
            <li>🍝</li>
            <li>🌮</li>
            <li>🌯</li>
            <li>🍜</li>
            <li>🍲</li>
            <li>🍥</li>
            <li>🍣</li>
            <li>🍱</li>
            <li>🍛</li>
            <li>🍙</li>
            <li>🍚</li>
            <li>🍘</li>
            <li>🍢</li>
            <li>🍡</li>
            <li>🍧</li>
            <li>🍨</li>
            <li>🍦</li>
            <li>🍰</li>
            <li>🎂</li>
            <li>🍮</li>
            <li>🍬</li>
            <li>🍭</li>
            <li>🍫</li>
            <li>🍿</li>
            <li>🍩</li>
            <li>🍪</li>
            <li>🍺</li>
            <li>🍻</li>
            <li>🍷</li>
            <li>🍸</li>
            <li>🍹</li>
            <li>🍾</li>
            <li>🍶</li>
            <li>🍵</li>
            <li>☕️</li>
            <li>🍼</li>
            <li>🍴</li>
            <li>🍽</li>
        </ul>
    </div>
    <div>
        <label for="cbx-activities">Activities ⚽️🚑🏙</label>
        <input type="checkbox" id="cbx-activities">
        <ul class="emoji-list">
            <li>⚽️</li>
            <li>🏀</li>
            <li>🏈</li>
            <li>⚾️</li>
            <li>🎾</li>
            <li>🏐</li>
            <li>🏉</li>
            <li>🎱</li>
            <li>⛳️</li>
            <li>🏌</li>
            <li>🏓</li>
            <li>🏸</li>
            <li>🏒</li>
            <li>🏑</li>
            <li>🏏</li>
            <li>🎿</li>
            <li>⛷</li>
            <li>🏂</li>
            <li>⛸</li>
            <li>🏹</li>
            <li>🎣</li>
            <li>🚣</li>
            <li>🏊</li>
            <li>🏄</li>
            <li>🛀</li>
            <li>⛹</li>
            <li>🏋</li>
            <li>🚴</li>
            <li>🚵</li>
            <li>🏇</li>
            <li>🕴</li>
            <li>🏆</li>
            <li>🎽</li>
            <li>🏅</li>
            <li>🎖</li>
            <li>🎗</li>
            <li>🏵</li>
            <li>🎫</li>
            <li>🎟</li>
            <li>🎭</li>
            <li>🎨</li>
            <li>🎪</li>
            <li>🎤</li>
            <li>🎧</li>
            <li>🎼</li>
            <li>🎹</li>
            <li>🎷</li>
            <li>🎺</li>
            <li>🎸</li>
            <li>🎻</li>
            <li>🎬</li>
            <li>🎮</li>
            <li>👾</li>
            <li>🎯</li>
            <li>🎲</li>
            <li>🎰</li>
            <li>🎳</li>
            <li>🚗</li>
            <li>🚕</li>
            <li>🚙</li>
            <li>🚌</li>
            <li>🚎</li>
            <li>🏎</li>
            <li>🚓</li>
            <li>🚑</li>
            <li>🚒</li>
            <li>🚐</li>
            <li>🚚</li>
            <li>🚛</li>
            <li>🚜</li>
            <li>🏍</li>
            <li>🚲</li>
            <li>🚨</li>
            <li>🚔</li>
            <li>🚍</li>
            <li>🚘</li>
            <li>🚖</li>
            <li>🚡</li>
            <li>🚠</li>
            <li>🚟</li>
            <li>🚃</li>
            <li>🚋</li>
            <li>🚝</li>
            <li>🚄</li>
            <li>🚅</li>
            <li>🚈</li>
            <li>🚞</li>
            <li>🚂</li>
            <li>🚆</li>
            <li>🚇</li>
            <li>🚊</li>
            <li>🚉</li>
            <li>🚁</li>
            <li>🛩</li>
            <li>✈️</li>
            <li>🛫</li>
            <li>🛬</li>
            <li>⛵️</li>
            <li>🛥</li>
            <li>🚤</li>
            <li>⛴</li>
            <li>🛳</li>
            <li>🚀</li>
            <li>🛰</li>
            <li>💺</li>
            <li>⚓️</li>
            <li>🚧</li>
            <li>⛽️</li>
            <li>🚏</li>
            <li>🚦</li>
            <li>🚥</li>
            <li>🏁</li>
            <li>🚢</li>
            <li>🎡</li>
            <li>🎢</li>
            <li>🎠</li>
            <li>🏗</li>
            <li>🌁</li>
            <li>🗼</li>
            <li>🏭</li>
            <li>⛲️</li>
            <li>🎑</li>
            <li>⛰</li>
            <li>🏔</li>
            <li>🗻</li>
            <li>🌋</li>
            <li>🗾</li>
            <li>🏕</li>
            <li>⛺️</li>
            <li>🏞</li>
            <li>🛣</li>
            <li>🛤</li>
            <li>🌅</li>
            <li>🌄</li>
            <li>🏜</li>
            <li>🏖</li>
            <li>🏝</li>
            <li>🌇</li>
            <li>🌆</li>
            <li>🏙</li>
            <li>🌃</li>
            <li>🌉</li>
            <li>🌌</li>
            <li>🌠</li>
            <li>🎇</li>
            <li>🎆</li>
            <li>🌈</li>
            <li>🏘</li>
            <li>🏰</li>
            <li>🏯</li>
            <li>🏟</li>
            <li>🗽</li>
            <li>🏠</li>
            <li>🏡</li>
            <li>🏚</li>
            <li>🏢</li>
            <li>🏬</li>
            <li>🏣</li>
            <li>🏤</li>
            <li>🏥</li>
            <li>🏦</li>
            <li>🏨</li>
            <li>🏪</li>
            <li>🏫</li>
            <li>🏩</li>
            <li>💒</li>
            <li>🏛</li>
            <li>⛪️</li>
            <li>🕌</li>
            <li>🕍</li>
            <li>🕋</li>
            <li>⛩</li>
            <li>⌚️</li>
            <li>📱</li>
            <li>📲</li>
            <li>💻</li>
            <li>⌨</li>
            <li>🖥</li>
            <li>🖨</li>
            <li>🖱</li>
            <li>🖲</li>
            <li>🕹</li>
            <li>🗜</li>
            <li>💽</li>
            <li>💾</li>
            <li>💿</li>
            <li>📀</li>
            <li>📼</li>
            <li>📷</li>
            <li>📸</li>
            <li>📹</li>
            <li>🎥</li>
            <li>📽</li>
            <li>🎞</li>
            <li>📞</li>
            <li>☎️</li>
            <li>📟</li>
            <li>📠</li>
            <li>📺</li>
            <li>📻</li>
            <li>🎙</li>
            <li>🎚</li>
            <li>🎛</li>
            <li>⏱</li>
            <li>⏲</li>
            <li>⏰</li>
            <li>🕰</li>
            <li>⏳</li>
            <li>⌛️</li>
            <li>📡</li>
            <li>🔋</li>
            <li>🔌</li>
            <li>💡</li>
            <li>🔦</li>
            <li>🕯</li>
            <li>🗑</li>
            <li>🛢</li>
            <li>💸</li>
            <li>💵</li>
            <li>💴</li>
            <li>💶</li>
            <li>💷</li>
            <li>💰</li>
            <li>💳</li>
            <li>💎</li>
            <li>⚖</li>
            <li>🔧</li>
            <li>🔨</li>
            <li>⚒</li>
            <li>🛠</li>
            <li>⛏</li>
            <li>🔩</li>
            <li>⚙</li>
            <li>⛓</li>
            <li>🔫</li>
            <li>💣</li>
            <li>🔪</li>
            <li>🗡</li>
            <li>⚔</li>
            <li>🛡</li>
            <li>🚬</li>
            <li>☠</li>
            <li>⚰</li>
            <li>⚱</li>
            <li>🏺</li>
            <li>🔮</li>
            <li>📿</li>
            <li>💈</li>
            <li>⚗</li>
            <li>🔭</li>
            <li>🔬</li>
            <li>🕳</li>
            <li>💊</li>
            <li>💉</li>
            <li>🌡</li>
            <li>🏷</li>
            <li>🔖</li>
            <li>🚽</li>
            <li>🚿</li>
            <li>🛁</li>
            <li>🔑</li>
            <li>🗝</li>
            <li>🛋</li>
            <li>🛌</li>
            <li>🛏</li>
            <li>🚪</li>
            <li>🛎</li>
            <li>🖼</li>
            <li>🗺</li>
            <li>⛱</li>
            <li>🗿</li>
            <li>🛍</li>
            <li>🎈</li>
            <li>🎏</li>
            <li>🎀</li>
            <li>🎁</li>
            <li>🎊</li>
            <li>🎉</li>
            <li>🎎</li>
            <li>🎐</li>
            <li>🎌</li>
            <li>🏮</li>
            <li>✉️</li>
            <li>📩</li>
            <li>📨</li>
            <li>📧</li>
            <li>💌</li>
            <li>📮</li>
            <li>📪</li>
            <li>📫</li>
            <li>📬</li>
            <li>📭</li>
            <li>📦</li>
            <li>📯</li>
            <li>📥</li>
            <li>📤</li>
            <li>📜</li>
            <li>📃</li>
            <li>📑</li>
            <li>📊</li>
            <li>📈</li>
            <li>📉</li>
            <li>📄</li>
            <li>📅</li>
            <li>📆</li>
            <li>🗓</li>
            <li>📇</li>
            <li>🗃</li>
            <li>🗳</li>
            <li>🗄</li>
            <li>📋</li>
            <li>🗒</li>
            <li>📁</li>
            <li>📂</li>
            <li>🗂</li>
            <li>🗞</li>
            <li>📰</li>
            <li>📓</li>
            <li>📕</li>
            <li>📗</li>
            <li>📘</li>
            <li>📙</li>
            <li>📔</li>
            <li>📒</li>
            <li>📚</li>
            <li>📖</li>
            <li>🔗</li>
            <li>📎</li>
            <li>🖇</li>
            <li>✂️</li>
            <li>📐</li>
            <li>📏</li>
            <li>📌</li>
            <li>📍</li>
            <li>🚩</li>
            <li>🏳</li>
            <li>🏴</li>
            <li>🔐</li>
            <li>🔒</li>
            <li>🔓</li>
            <li>🔏</li>
            <li>🖊</li>
            <li>🖊</li>
            <li>🖋</li>
            <li>✒️</li>
            <li>📝</li>
            <li>✏️</li>
            <li>🖍</li>
            <li>🖌</li>
            <li>🔍</li>
            <li>🔎</li>
        </ul>
    </div>
    <div>
        <label for="cbx-symbols">Symbols ❤️♈️⛔️</label>
        <input type="checkbox" id="cbx-symbols">
        <ul class="emoji-list">
            <li>❤️</li>
            <li>💛</li>
            <li>💙</li>
            <li>💜</li>
            <li>💔</li>
            <li>❣</li>
            <li>💕</li>
            <li>💞</li>
            <li>💓</li>
            <li>💗</li>
            <li>💖</li>
            <li>💘</li>
            <li>💝</li>
            <li>💟</li>
            <li>☮</li>
            <li>✝</li>
            <li>☪</li>
            <li>🕉</li>
            <li>☸</li>
            <li>✡</li>
            <li>🔯</li>
            <li>🕎</li>
            <li>☯</li>
            <li>☦</li>
            <li>🛐</li>
            <li>⛎</li>
            <li>♈️</li>
            <li>♉️</li>
            <li>♊️</li>
            <li>♋️</li>
            <li>♌️</li>
            <li>♍️</li>
            <li>♎️</li>
            <li>♏️</li>
            <li>♐️</li>
            <li>♑️</li>
            <li>♒️</li>
            <li>♓️</li>
            <li>🆔</li>
            <li>⚛</li>
            <li>🈳</li>
            <li>🈹</li>
            <li>☢</li>
            <li>☣</li>
            <li>📴</li>
            <li>📳</li>
            <li>🈶</li>
            <li>🈚️</li>
            <li>🈸</li>
            <li>🈺</li>
            <li>🈷️</li>
            <li>✴️</li>
            <li>🆚</li>
            <li>🉑</li>
            <li>💮</li>
            <li>🉐</li>
            <li>㊙️</li>
            <li>㊗️</li>
            <li>🈴</li>
            <li>🈵</li>
            <li>🈲</li>
            <li>🅰️</li>
            <li>🅱️</li>
            <li>🆎</li>
            <li>🆑</li>
            <li>🅾️</li>
            <li>🆘</li>
            <li>⛔️</li>
            <li>📛</li>
            <li>🚫</li>
            <li>❌</li>
            <li>⭕️</li>
            <li>💢</li>
            <li>♨️</li>
            <li>🚷</li>
            <li>🚯</li>
            <li>🚳</li>
            <li>🚱</li>
            <li>🔞</li>
            <li>📵</li>
            <li>❗️</li>
            <li>❕</li>
            <li>❓</li>
            <li>❔</li>
            <li>‼️</li>
            <li>⁉️</li>
            <li>💯</li>
            <li>🔅</li>
            <li>🔆</li>
            <li>🔱</li>
            <li>⚜</li>
            <li>〽️</li>
            <li>⚠️</li>
            <li>🚸</li>
            <li>🔰</li>
            <li>♻️</li>
            <li>🈯️</li>
            <li>💹</li>
            <li>❇️</li>
            <li>✳️</li>
            <li>❎</li>
            <li>✅</li>
            <li>💠</li>
            <li>🌀</li>
            <li>➿</li>
            <li>🌐</li>
            <li>Ⓜ️</li>
            <li>🏧</li>
            <li>🈂️</li>
            <li>🛂</li>
            <li>🛃</li>
            <li>🛄</li>
            <li>🛅</li>
            <li>♿️</li>
            <li>🚭</li>
            <li>🚾</li>
            <li>🅿️</li>
            <li>🚰</li>
            <li>🚹</li>
            <li>🚺</li>
            <li>🚼</li>
            <li>🚻</li>
            <li>🚮</li>
            <li>🎦</li>
            <li>📶</li>
            <li>🈁</li>
            <li>🆖</li>
            <li>🆗</li>
            <li>🆙</li>
            <li>🆒</li>
            <li>🆕</li>
            <li>🆓</li>
            <li>0️⃣</li>
            <li>1️⃣</li>
            <li>2️⃣</li>
            <li>3️⃣</li>
            <li>4️⃣</li>
            <li>5️⃣</li>
            <li>6️⃣</li>
            <li>7️⃣</li>
            <li>8️⃣</li>
            <li>9️⃣</li>
            <li>🔟</li>
            <li>🔢</li>
            <li>▶️</li>
            <li>⏸</li>
            <li>⏯</li>
            <li>⏹</li>
            <li>⏺</li>
            <li>⏭</li>
            <li>⏮</li>
            <li>⏩</li>
            <li>⏪</li>
            <li>🔀</li>
            <li>🔁</li>
            <li>🔂</li>
            <li>◀️</li>
            <li>🔼</li>
            <li>🔽</li>
            <li>⏫</li>
            <li>⏬</li>
            <li>➡️</li>
            <li>⬅️</li>
            <li>⬆️</li>
            <li>⬇️</li>
            <li>↗️</li>
            <li>↘️</li>
            <li>↙️</li>
            <li>↖️</li>
            <li>↕️</li>
            <li>↔️</li>
            <li>🔄</li>
            <li>↪️</li>
            <li>↩️</li>
            <li>⤴️</li>
            <li>⤵️</li>
            <li>#️⃣</li>
            <li>*️⃣</li>
            <li>ℹ️</li>
            <li>🔤</li>
            <li>🔡</li>
            <li>🔠</li>
            <li>🔣</li>
            <li>🎵</li>
            <li>🎶</li>
            <li>〰️</li>
            <li>➰</li>
            <li>✔️</li>
            <li>🔃</li>
            <li>➕</li>
            <li>➖</li>
            <li>➗</li>
            <li>✖️</li>
            <li>💲</li>
            <li>💱</li>
            <li>©️</li>
            <li>®️</li>
            <li>™️</li>
            <li>🔚</li>
            <li>🔙</li>
            <li>🔛</li>
            <li>🔝</li>
            <li>🔜</li>
            <li>☑️</li>
            <li>🔘</li>
            <li>⚪️</li>
            <li>⚫️</li>
            <li>🔴</li>
            <li>🔵</li>
            <li>🔸</li>
            <li>🔹</li>
            <li>🔶</li>
            <li>🔷</li>
            <li>🔺</li>
            <li>▪️</li>
            <li>▫️</li>
            <li>⬛️</li>
            <li>⬜️</li>
            <li>🔻</li>
            <li>◼️</li>
            <li>◻️</li>
            <li>◾️</li>
            <li>◽️</li>
            <li>🔲</li>
            <li>🔳</li>
            <li>🔈</li>
            <li>🔉</li>
            <li>🔊</li>
            <li>🔇</li>
            <li>📣</li>
            <li>📢</li>
            <li>🔔</li>
            <li>🔕</li>
            <li>🃏</li>
            <li>🀄️</li>
            <li>♠️</li>
            <li>♣️</li>
            <li>♥️</li>
            <li>♦️</li>
            <li>🎴</li>
            <li>👁</li>
            <li>🗨</li>
            <li>💭</li>
            <li>🗯</li>
            <li>💬</li>
            <li>🕐</li>
            <li>🕑</li>
            <li>🕒</li>
            <li>🕓</li>
            <li>🕔</li>
            <li>🕕</li>
            <li>🕖</li>
            <li>🕗</li>
            <li>🕘</li>
            <li>🕙</li>
            <li>🕚</li>
            <li>🕛</li>
            <li>🕜</li>
            <li>🕝</li>
            <li>🕞</li>
            <li>🕟</li>
            <li>🕠</li>
            <li>🕡</li>
            <li>🕢</li>
            <li>🕣</li>
            <li>🕤</li>
            <li>🕥</li>
            <li>🕦</li>
            <li>🕧</li>
        </ul>
    </div>
    <div>
        <label for="cbx-flags">Flags 🇫🇷🇲🇷🇪🇭</label>
        <input type="checkbox" id="cbx-flags">
        <ul class="emoji-list">
            <li>🇦🇫</li>
            <li>🇦🇽</li>
            <li>🇦🇱</li>
            <li>🇩🇿</li>
            <li>🇦🇸</li>
            <li>🇦🇩</li>
            <li>🇦🇴</li>
            <li>🇦🇮</li>
            <li>🇦🇶</li>
            <li>🇦🇬</li>
            <li>🇦🇷</li>
            <li>🇦🇲</li>
            <li>🇦🇼</li>
            <li>🇦🇺</li>
            <li>🇦🇹</li>
            <li>🇦🇿</li>
            <li>🇧🇸</li>
            <li>🇧🇭</li>
            <li>🇧🇩</li>
            <li>🇧🇧</li>
            <li>🇧🇾</li>
            <li>🇧🇪</li>
            <li>🇧🇿</li>
            <li>🇧🇯</li>
            <li>🇧🇲</li>
            <li>🇧🇹</li>
            <li>🇧🇴</li>
            <li>🇧🇶</li>
            <li>🇧🇦</li>
            <li>🇧🇼</li>
            <li>🇧🇷</li>
            <li>🇮🇴</li>
            <li>🇻🇬</li>
            <li>🇧🇳</li>
            <li>🇧🇬</li>
            <li>🇧🇫</li>
            <li>🇧🇮</li>
            <li>🇨🇻</li>
            <li>🇰🇭</li>
            <li>🇨🇲</li>
            <li>🇨🇦</li>
            <li>🇮🇨</li>
            <li>🇰🇾</li>
            <li>🇨🇫</li>
            <li>🇹🇩</li>
            <li>🇨🇱</li>
            <li>🇨🇳</li>
            <li>🇨🇽</li>
            <li>🇨🇨</li>
            <li>🇨🇴</li>
            <li>🇰🇲</li>
            <li>🇨🇬</li>
            <li>🇨🇩</li>
            <li>🇨🇰</li>
            <li>🇨🇷</li>
            <li>🇭🇷</li>
            <li>🇨🇺</li>
            <li>🇨🇼</li>
            <li>🇨🇾</li>
            <li>🇨🇿</li>
            <li>🇩🇰</li>
            <li>🇩🇯</li>
            <li>🇩🇲</li>
            <li>🇩🇴</li>
            <li>🇪🇨</li>
            <li>🇪🇬</li>
            <li>🇸🇻</li>
            <li>🇬🇶</li>
            <li>🇪🇷</li>
            <li>🇪🇪</li>
            <li>🇪🇹</li>
            <li>🇪🇺</li>
            <li>🇫🇰</li>
            <li>🇫🇴</li>
            <li>🇫🇯</li>
            <li>🇫🇮</li>
            <li>🇫🇷</li>
            <li>🇬🇫</li>
            <li>🇵🇫</li>
            <li>🇹🇫</li>
            <li>🇬🇦</li>
            <li>🇬🇲</li>
            <li>🇬🇪</li>
            <li>🇩🇪</li>
            <li>🇬🇭</li>
            <li>🇬🇮</li>
            <li>🇬🇷</li>
            <li>🇬🇱</li>
            <li>🇬🇩</li>
            <li>🇬🇵</li>
            <li>🇬🇺</li>
            <li>🇬🇹</li>
            <li>🇬🇬</li>
            <li>🇬🇳</li>
            <li>🇬🇼</li>
            <li>🇬🇾</li>
            <li>🇭🇹</li>
            <li>🇭🇳</li>
            <li>🇭🇰</li>
            <li>🇭🇺</li>
            <li>🇮🇸</li>
            <li>🇮🇳</li>
            <li>🇮🇩</li>
            <li>🇮🇷</li>
            <li>🇮🇶</li>
            <li>🇮🇪</li>
            <li>🇮🇲</li>
            <li>🇮🇱</li>
            <li>🇮🇹</li>
            <li>🇨🇮</li>
            <li>🇯🇲</li>
            <li>🇯🇵</li>
            <li>🇯🇪</li>
            <li>🇯🇴</li>
            <li>🇰🇿</li>
            <li>🇰🇪</li>
            <li>🇰🇮</li>
            <li>🇽🇰</li>
            <li>🇰🇼</li>
            <li>🇰🇬</li>
            <li>🇱🇦</li>
            <li>🇱🇻</li>
            <li>🇱🇧</li>
            <li>🇱🇸</li>
            <li>🇱🇷</li>
            <li>🇱🇾</li>
            <li>🇱🇮</li>
            <li>🇱🇹</li>
            <li>🇱🇺</li>
            <li>🇲🇴</li>
            <li>🇲🇰</li>
            <li>🇲🇬</li>
            <li>🇲🇼</li>
            <li>🇲🇾</li>
            <li>🇲🇻</li>
            <li>🇲🇱</li>
            <li>🇲🇹</li>
            <li>🇲🇭</li>
            <li>🇲🇶</li>
            <li>🇲🇷</li>
            <li>🇲🇺</li>
            <li>🇾🇹</li>
            <li>🇲🇽</li>
            <li>🇫🇲</li>
            <li>🇲🇩</li>
            <li>🇲🇨</li>
            <li>🇲🇳</li>
            <li>🇲🇪</li>
            <li>🇲🇸</li>
            <li>🇲🇦</li>
            <li>🇲🇿</li>
            <li>🇲🇲</li>
            <li>🇳🇦</li>
            <li>🇳🇷</li>
            <li>🇳🇵</li>
            <li>🇳🇱</li>
            <li>🇳🇨</li>
            <li>🇳🇿</li>
            <li>🇳🇮</li>
            <li>🇳🇪</li>
            <li>🇳🇬</li>
            <li>🇳🇺</li>
            <li>🇳🇫</li>
            <li>🇲🇵</li>
            <li>🇰🇵</li>
            <li>🇳🇴</li>
            <li>🇴🇲</li>
            <li>🇵🇰</li>
            <li>🇵🇼</li>
            <li>🇵🇸</li>
            <li>🇵🇦</li>
            <li>🇵🇬</li>
            <li>🇵🇾</li>
            <li>🇵🇪</li>
            <li>🇵🇭</li>
            <li>🇵🇳</li>
            <li>🇵🇱</li>
            <li>🇵🇹</li>
            <li>🇵🇷</li>
            <li>🇶🇦</li>
            <li>🇷🇪</li>
            <li>🇷🇴</li>
            <li>🇷🇺</li>
            <li>🇷🇼</li>
            <li>🇧🇱</li>
            <li>🇸🇭</li>
            <li>🇰🇳</li>
            <li>🇱🇨</li>
            <li>🇵🇲</li>
            <li>🇻🇨</li>
            <li>🇼🇸</li>
            <li>🇸🇲</li>
            <li>🇸🇹</li>
            <li>🇸🇦</li>
            <li>🇸🇳</li>
            <li>🇷🇸</li>
            <li>🇸🇨</li>
            <li>🇸🇱</li>
            <li>🇸🇬</li>
            <li>🇸🇽</li>
            <li>🇸🇰</li>
            <li>🇸🇮</li>
            <li>🇸🇧</li>
            <li>🇸🇴</li>
            <li>🇿🇦</li>
            <li>🇬🇸</li>
            <li>🇰🇷</li>
            <li>🇸🇸</li>
            <li>🇪🇸</li>
            <li>🇱🇰</li>
            <li>🇸🇩</li>
            <li>🇸🇷</li>
            <li>🇸🇿</li>
            <li>🇸🇪</li>
            <li>🇨🇭</li>
            <li>🇸🇾</li>
            <li>🇹🇼</li>
            <li>🇹🇯</li>
            <li>🇹🇿</li>
            <li>🇹🇭</li>
            <li>🇹🇱</li>
            <li>🇹🇬</li>
            <li>🇹🇰</li>
            <li>🇹🇴</li>
            <li>🇹🇹</li>
            <li>🇹🇳</li>
            <li>🇹🇷</li>
            <li>🇹🇲</li>
            <li>🇹🇨</li>
            <li>🇹🇻</li>
            <li>🇺🇬</li>
            <li>🇺🇦</li>
            <li>🇦🇪</li>
            <li>🇬🇧</li>
            <li>🇺🇸</li>
            <li>🇻🇮</li>
            <li>🇺🇾</li>
            <li>🇺🇿</li>
            <li>🇻🇺</li>
            <li>🇻🇦</li>
            <li>🇻🇪</li>
            <li>🇻🇳</li>
            <li>🇼🇫</li>
            <li>🇪🇭</li>
            <li>🇾🇪</li>
            <li>🇿🇲</li>
            <li>🇿🇼</li>
        </ul>
    </div>
    <div>
        <label for="cbx-misc">Misc. 1⃣⚗↗️</label>
        <input type="checkbox" id="cbx-misc">
        <ul class="emoji-list">
            <li>☺️</li>
            <li>☹</li>
            <li>☝️</li>
            <li>✌️</li>
            <li>✍</li>
            ️
            <li>❤️</li>
            <li>❣</li>
            ️
            <li>☠</li>
            <li>♨️</li>
            <li>✈️</li>
            <li>⌛</li>
            <li>⌚</li>
            <li>♈</li>
            <li>♉</li>
            <li>♊</li>
            <li>♋</li>
            <li>♌</li>
            <li>♍</li>
            <li>♎</li>
            <li>♏</li>
            <li>♐</li>
            <li>♑</li>
            <li>♒</li>
            <li>♓</li>
            <li>☀️</li>
            <li>☁️</li>
            <li>☂</li>
            ️
            <li>❄️</li>
            <li>⛄️</li>
            <li>☄</li>
            <li>♠️</li>
            <li>♥️</li>
            <li>♦️</li>
            <li>♣️</li>
            <li>▶️</li>
            <li>◀️</li>
            <li>☎️</li>
            <li>⌨</li>
            <li>✉️</li>
            <li>✏️</li>
            <li>✒️</li>
            <li>✂️</li>
            <li>↗️</li>
            <li>➡️</li>
            <li>↘️</li>
            <li>↙️</li>
            <li>↖️</li>
            <li>↕️</li>
            <li>↔️</li>
            <li>↩️</li>
            <li>↪️</li>
            <li>✡</li>
            ️
            <li>☸</li>
            <li>☯</li>
            ️
            <li>✝</li>
            ️
            <li>☦</li>
            <li>☪</li>
            <li>☮</li>
            <li>☢</li>
            <li>☣</li>
            <li>☑️</li>
            <li>✔️</li>
            <li>✖️</li>
            <li>✳️</li>
            <li>✴️</li>
            <li>❇️</li>
            <li>‼️</li>
            <li>©️</li>
            <li>®️</li>
            <li>™️</li>
            <li>Ⓜ️</li>
            <li>▪️</li>
            <li>▫️</li>
            <li>#⃣</li>
            <li>️*️⃣</li>
            <li>0⃣</li>
            ️
            <li> 1⃣</li>
            ️
            <li> 2⃣</li>
            ️
            <li>3⃣</li>
            ️
            <li> 4⃣</li>
            ️
            <li> 5⃣</li>
            ️
            <li> 6⃣</li>
            ️
            <li> 7⃣</li>
            ️
            <li> 8⃣</li>
            ️
            <li> 9⃣</li>
            ️
            <li>⁉️</li>
            <li>ℹ️</li>
            <li>⤴️</li>
            <li>⤵️</li>
            <li>♻️</li>
            <li>◻️</li>
            <li>◼️</li>
            <li>◽</li>
            <li>◾</li>
            <li>☕</li>
            <li>⚠️</li>
            <li>☔</li>
            <li>⏏</li>
            <li>⬆️</li>
            <li>⬇️</li>
            <li>⬅️</li>
            <li>⚡</li>
            <li>☘</li>
            <li>⚓</li>
            <li>♿</li>
            <li>⚒</li>
            <li>⚙</li>
            <li>⚗</li>
            <li>⚖</li>
            <li>⚔</li>
            <li>⚰</li>
            <li>⚱</li>
            <li>⚜</li>
            <li>⚛</li>
            <li>⚪</li>
            <li>⚫</li>
            <li>🀄</li>
            <li>⭐</li>
            <li>⬛</li>
            <li>⬜</li>
            <li>⛑</li>
            <li>⛰</li>
            <li>⛪</li>
            <li>⛲</li>
            <li>⛺</li>
            <li>⛽</li>
            <li>⛵</li>
            <li>⛴</li>
            <li>⛔</li>
            <li>⛅</li>
            <li>⛈</li>
            <li>⛱</li>
            <li>⛄</li>
            <li>⚽</li>
            <li>⚾️</li>
            <li>⛳</li>
            <li>⛸</li>
            <li>⛷</li>
            <li>⛹</li>
            <li>⛏</li>
            <li>⛓</li>
            <li>⛩</li>
            <li>⭕</li>
            <li>❗</li>
            <li>🅿️</li>
            <li>❦</li>
            <li>♕</li>
            <li>♔</li>
            <li>♜</li>
            <li>☾</li>
            <li>→</li>
            <li>⇒</li>
            <li>⟹</li>

            <li>☻</li>
        </ul>
    </div>
</div>
<div class="emoji-container">
    <input type="text" class="emoji-container-text" placeholder="Copy and Paste from here">
</div>
</body>
</html>

